<!DOCTYPE html>
  <head>
    <meta charset="UTF-8">
    <title>BASICPASSWORD</title>
  </head>
  <body>
    <table>
      <tr>
        <th>test!!!!!</th>
        <td><%= @BASIC_NAME %></td>
      </tr>

      <tr>
        <th>testpass</th>
        <td><%= @BASIC_PASSWORD %></td>
      </tr>

    </table>
  </body>
</html>

